body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  color: #808080;
  margin: 0;
}

h1 {
  font-size: 2.5em;
}

p {
  margin: 5px;
}

section {
  padding: 3% 20px 3% 20px;
  background: #ffffff;
}

core-animated-pages {
  background: white;
}

#page-welcome {
  background: none;
}

collapse-toolbar {
  background: rgba(231, 231, 231, .5);
}

.header-container {
  z-index: 1;
  overflow: hidden;
  padding-top: 10%;
  padding-bottom: 10%;
}

.header {
  width: 80%;
  height: 50%;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
}

.header-head {
  font-size: 4.5em;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  line-height: 1em;
}

.header-subhead {
  font-size: 1.7em;
  color: white;
  letter-spacing: 0.05em;
  text-transform: none;
}

.header-contact > paper-button {
  margin-top: 15px;
}

.header-contact > paper-button > a {
  background: #f1625e;
  border-radius: 3px;
  text-transform: none;
  text-decoration: none;
  color: #ffffff;
  padding: 15px;
}

.section-content {
  padding: 20px;
}

.dark {
  background: #f7f7f7;
}

.center {
  text-align: center;
}

.center > p {
  text-align: left;
}

.round > img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-color: #e5e5e5;
}

.section-content > h1, .section-content > p {
  text-align: center;
}

.profile-image {
  padding: 5% 15% 0 15%;
}

.percent {
  line-height: 150px;
  display: inline-block;
  z-index: 2;
}

.chart {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
}

.chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.contact-form > * {
  margin: 20px;
}

.contact-form > core-field > paper-input {
  height: 50px;
  width: 100%;
}

.contact-form > core-field > paper-input-decorator {
  width: 100%;
}

.contact-form > core-field > paper-button {
  background: #f1625e;
  text-transform: none;
  color: #ffffff;
  width: 100%;
  line-height: 1.3;
  height: 50px;
  margin: 0;
  font-size: 1.3em;
}

.contact-form textarea {
  box-shadow: none;
  border: none;
}

.contact-info > p {
  margin: 20px;
  text-align: left;
}

.toast-message {
  position: fixed;
  outline: none;
  z-index: 12;
  box-sizing: border-box;
}

body > paper-fab {
  position: fixed;
  z-index: 5;
  right: 15px;
  bottom: 15px;
}

@media screen and (min-width: 1em) {
  .chart, .header-subhead {
    display: none;
  }
}

@media screen and (min-width: 35.5em) {
  .chart, .header-subhead {
    display: none;
  }
}

@media screen and (min-width: 48em) {
  .chart {
    display: inline-block;
  }
  .header-subhead {
    display: inherit;
  }
}
